---
---

@import "{{ site.theme }}";

body {
    background-image: url("/assets/img/mohammad-alizade-XgeZu2jBaVI-unsplash.jpg");
    background-size: 100% 20em;
    background-repeat: no-repeat;
} 

section {
    padding-top: 260px;
}

h1.site-title {
    color: white;
}